In [1]:
# 예시 데이터프레임
import pandas as pd
from numpy import NaN,NAN,nan

df = pd.DataFrame({'구분':[1,2,3,4,5,6], 
                   '인허가일자':[2016312,'2020.02.01',201603,99991230,1980,192012],
                   '휴업일자':[20160312.0,'2020 320',201603.0,NaN,'2020-02-22','']})
#df = df.set_index('구분')
df

   구분       인허가일자        휴업일자
0   1     2016312  20160312.0
1   2  2020.02.01    2020 320
2   3      201603    201603.0
3   4    99991230         NaN
4   5        1980  2020-02-22
5   6      192012

In [2]:
# 비어있는 값을 NaN으로 바꾸기
df = df.replace(r'^\s*$',NaN,regex=True)
df

   구분       인허가일자        휴업일자
0   1     2016312  20160312.0
1   2  2020.02.01    2020 320
2   3      201603    201603.0
3   4    99991230         NaN
4   5        1980  2020-02-22
5   6      192012         NaN

In [3]:
# 누락값 처리

df = df.fillna(0) # 다른 값 변경 시 .fillna(변경 할 숫자).iloc[행위치,열위치] 를 입력하여 변경
df

   구분       인허가일자        휴업일자
0   1     2016312  20160312.0
1   2  2020.02.01    2020 320
2   3      201603    201603.0
3   4    99991230           0
4   5        1980  2020-02-22
5   6      192012           0

In [5]:
#문자열을 정수로 변환
import re

# string의 특수문자를 제거하는 함수
def cleanString(x):
    x1 = ''    
    if type(x1) == type(x):
        # 특수문자 제거
        x = re.sub('[-=.#/?:$]','',x)
        # 공백제거
        x1 = x.replace(" ","")
        return int(x1)
    else:
        return x

# 인허가일자 str을 int로 변환하기
df['인허가일자'] = df['인허가일자'].apply(cleanString)

# 휴업일자 str을 int로 변환하기
df['휴업일자'] = df['휴업일자'].apply(cleanString)

# 휴업일자 float 타입을 int로 바꿔주기
df['휴업일자'] = df['휴업일자'].astype('int64')

df

   구분     인허가일자      휴업일자
0   1   2016312  20160312
1   2  20200201   2020320
2   3    201603    201603
3   4  99991230         0
4   5      1980  20200222
5   6    192012         0