# SQL명령어 - 테이블 생성

In [12]:
## create table################################################

# 1.모듈 import
import sqlite3

# 2.DB파일 열기
conn = sqlite3.connect('chinook.db')

# 3. cursor(커서) 생성
cursor = conn.cursor()
###############################################################

# 4. SQL 명령어 작성
CREATE_SQL = """
    CREATE TABLE IF NOT EXISTS Item(
        id integer primary key autoincrement,
        code text not null,
        artist text not null,
        price integer not null
    );"""


# 5. SQL 명령 실행
cursor.execute(CREATE_SQL)

# 잘 실행되었는지 Item Table 출력하여 확인
cursor.execute('SELECT * FROM sqlite_master WHERE type="table" AND name="Item";')
table_list = cursor.fetchall()
for i in table_list:
    for j in i:
        print(j)

# 6. DB 닫기
conn.close()

table
Item
Item
865
CREATE TABLE Item(
        id integer primary key autoincrement,
        code text not null,
        artist text not null,
        price integer not null
    )

# SQL 명령어 - 테이블에 정보 입력하기

In [19]:
## insert
# DB열기, 커서 작성
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()
# insert sql 작성
INSERT_SQL = 'INSERT INTO Item(code,artist,price) VALUES (?,?,?);'

## 데이터 여러개 한번에 추가하기
data = (
    ('ABC111','마룬5',35000),
    ('DFG222','아리아나그란데',45000),
    ('HIJ333','NCT',30000)
)
# insert로 값 추가

# 여러개 값 추가
cursor.executemany(INSERT_SQL,data)
# 한개의 값만 추가
cursor.execute(INSERT_SQL,('KLM444','아이유',38000))

# 커밋(insert update delete 는 commit을 꼭 해주어야 DB에 반영됨.)
conn.commit()

# 데이터 확인
cursor.execute('SELECT * FROM Item;')
item_list = cursor.fetchall()
for i in item_list:
    print(i)
    
# 닫기
conn.close()

(1, 'ABC111', '마룬5', 35000)
(2, 'DFG222', '아리아나그란데', 45000)
(3, 'HIJ333', 'NCT', 30000)
(4, 'KLM444', '아이유', 38000)

## SQL 명령어 - 테이블에 있는 정보 가져오기

In [22]:
# DB 열기 및 커서
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()

# select

SELECT_SQL = 'SELECT * FROM customers LIMIT 10;' #Where Country = "Austria"; '특정 국적의 사람의 정보만 가져오기'

# select로 선택된 행들 가져와서 출력하기
cursor.execute(SELECT_SQL)
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)
(6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5)
(7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5)
(8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4)
(9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)

# SQL 명령어 - 기존 정보 업데이트

In [24]:
# DB 열기 및 커서
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()

# UPDATE

UPDATE_SQL = 'UPDATE employees set Title = "IT Manager" WHERE FirstName ="Jane";'
cursor.execute(UPDATE_SQL)

# CUMMIT
conn.commit()

# 확인
cursor.execute('SELECT * FROM employees WHERE FirstName = "Jane";')
employee = cursor.fetchall()
print(employee)

# DB 닫기
conn.close()

[(3, 'Peacock', 'Jane', 'IT Manager', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')]

# SQL 명령어 - 테이블 정보 삭제

In [25]:
# DB 열기 및 커서
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()

# DELETE
DELETE_SQL = 'DELETE FROM Item WHERE artist = "마룬5";'
cursor.execute(DELETE_SQL)

conn.commit()
# 확인
cursor.execute('SELECT * FROM Item')
rows = cursor.fetchall()
for row in rows:
    print(row)
    
conn.close()

(2, 'DFG222', '아리아나그란데', 45000)
(3, 'HIJ333', 'NCT', 30000)
(4, 'KLM444', '아이유', 38000)